header {
    width: 100%;
    background-color: #38210F;
}

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 1300px;
    margin: 60px auto;
    max-height: 70vh;
    color: #f4f4f4;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.4em;
    box-sizing: border-box;
        border: 1px solid ;

}

#header-content #about-me {
    max-width: 800px;
}

h1 {
    color: #C88C6A;
    font-weight: bold;
    letter-spacing: 2px
}

span.bolder {
    font-weight: 500;    
}

p {
    margin: 80px 0;
    font-size: 1.5em;
}

button {
    background-color: #C88C6A;
    border: none;
    border-radius: 5px;
    padding: 20px 30px;
    font-weight: bold;
    font-size: 1em;
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.35);
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.35);
    outline: none;
}

button:hover {
    cursor: pointer;
    background-color: #aa7759
}

#card-about-me {
    margin-bottom: 7%;
    height: 50%;
    text-align: center;
    margin: 20px 0 18px;
    border: 1px solid ;
}

#card-about-me h2 {
    padding: 30px 0;
    font-weight: 500;
}

/*======= Треугольник =======*/
.triagle {
    width: 100%;
}

.triagle img {
    display: block;
    position: relative;
    top: 3vh;
    /*: 50%;
    transform: translateX(-50%);*/
    margin: auto;
    /*border: 1px solid red;*/
}

/*      Фикс для отступа сверху       */
@media(min-height: 1080px) {
    .triagle img {
        top: 1vh;
    }
}

/*===== Маленькие ноутбуки/планшеты =====*/
@media(max-width: 1025px) {
    header {
        font-size: 0.6em;
    }

    #header-content {
        width: 85%;
    }

    h1 {
        font-size: 2.2em;
    }

    #about-me button {
        padding: 10px 20px;
    }

    #card-about-me img {
        width: 350px;
    }
}

/*===== Планшеты =====*/
@media(max-width: 800px) {
    #header-content {
        width: 85%;
    }

    #header-content #about-me p {
        margin: 50px 0;
    }

    #card-about-me img {
        width: 300px;
    }
}



/*===== Смартфоны =====*/
@media(min-width:500px){
    .header-mobile {
        display: none;
    }
}

@media(max-width: 500px) {
    .triagle {
        height: 5px;
        top: 10px;
    }

    .triagle img {top: 0;}

    #header-content {
        display: none;
    }

    .header-mobile {
        display: block;
    }

    #about-me {
        font-size: 0.6em;
    }

    #about-me p {
        font-size: 0.5em;
    }

    #card-about-me {
        width: 150px;
        font-size: 0.7em;
    }

    #card-about-me img {
        width: 180px;
    }

    #card-about-me h2 {
        padding: 10px 0;
    }
}